<html>
<head>
  <title>The Potato Town</title>
  <style type='text/css' media='all'>@import url('../assets/bootstrap/css/bootstrap.min.css');</style>
</head>
<body>
  <div class="container">

    <!-- breadcrumbs for search and social media -->
    <div class="row">
      <div class="col-md-4">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control input-md" placeholder="Search">
          </div>
          <button type="submit" class="btn-sm btn-default">Submit</button>
        </form>
      </div>

      <div class="col-md-offset-3 col-md-offset-5">
        <div class="row">
          <div class="col-md-6">
            <p> "for contact us please call xxx-xxx-xxx" </p>
          </div>

          <div class="span6">
            <span class="glyphicons glyphicon-search"></span>
          </div>
        </div>
      </div>
    </div>

    <!--breadcrumbs for social media and contact us  -->


  </div>


  <!-- Javascript-->
  <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>